@model DSC.Models.DTOs.CourseDto

<style>
    .table-wrap {
        margin-bottom: 600px; /* Add space between the table and footer */
    }

    .table-actions {
        text-align: right; /* Align the action buttons to the right */
    }
</style>
<!-- Add this code inside your section -->


<div class="modal fade mt-5" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel">Add New Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Course" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Title">Course Title:</label>
                        <input asp-for="Title" type="text" required class="form-control" id="CourseTitle" name="Title" placeholder="Enter Course name">
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" required class="form-control" id="CourseName" name="Description" placeholder="Enter Course Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageUrl">Image Url:</label>
                        <input asp-for="ImageUrl" type="text" required class="form-control" id="articleName" name="ImageUrl" placeholder="Enter article imgUrl">
                    </div>
                    <div class="form-group">
                        <label asp-for="TopicId">Category:</label>
                        <select asp-for="TopicId" id="CategoryId" class="form-control">
                            @foreach (var item in Model.Topics)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="addFounderButton" />
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade mt-5" id="EditCourseModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditCourseModal">Edit Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Course" asp-action="Edit" method="post">
                    <input asp-for="Id" id="editId" value="" type="hidden" />
                <div class="form-group">
                    <label asp-for="Title">Title:</label>
                        <input asp-for="Title" required type="text" class="form-control" id="CourseName" name="Title" placeholder="Enter Title name">
                </div>
            @*     <div class="form-group">
                    <label asp-for="ImgUrl">ImgUrl:</label>
                    <input asp-for="ImgUrl" required class="form-control" id="CourseImgUrl" name="ImgUrl" placeholder="Enter Course ImgUrl" />
                </div> *@
                <div class="form-group">
                    <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" required class="form-control" id="CourseDescription" name="Description" placeholder="Enter Course Description"></textarea>
                </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl">ImgUrl:</label>
                        <input asp-for="ImageUrl" type="text" required class="form-control" id="articleName" name="ImgUrl" placeholder="Enter article imgUrl">
                    </div>
                <div class="form-group">
                        <label asp-for="TopicId">Category:</label>
                        <select asp-for="TopicId" id="CategoryId" class="form-control">
                        @foreach (var item in Model.Topics)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="editCourseButton" />
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mt-5" id="DeleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteCourseModalLabel">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Course" asp-action="Delete">
                    <input asp-for="Id" id="deleteId" type="hidden" />
                    <div class="form-group">
                        <p>Are you Sure you want to Delete This Course?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="DeleteCourseButton" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




<section class="ftco-section mt-4">
    <div class="container" style="padding-top:10px;">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Courses</h2>
                <a class="btn btn-warning mt-3 p-3 text-white" data-toggle="modal" data-target="#addCourseModal">Create New Course</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-wrap">
                    <table class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Topic</th>
                                <th class="table-actions ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var Course in Model.Courses)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@Course.Title</td>
                                    <td>@Course.Topic.Name</td>
                                    <td class="table-actions">
                                        <a class="btn btn-primary text-white" data-toggle="modal" onclick="setIdEdit(@Course.Id)" data-target="#EditCourseModal">Edit</a>
                                        <a class="btn btn-danger text-white" data-toggle="modal" onclick="setIdDelete(@Course.Id)" data-target="#DeleteCourseModal">Delete</a>
                                        <a class="btn btn-warning text-white" asp-action="Details" asp-route-CourseId="@Course.Id">Details</a>
                                       
                                    </td>
                                </tr>
                                count++;

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function setIdEdit(id) {
        document.getElementById("editId").value = id;
    }
    function setIdDelete(id) {
        document.getElementById("deleteId").value = id;
    }

</script>