@model DSC.Models.Media

<!-- Start page content -->
<div class="container mt-4 mt-lg-5">
    <div class="owl-carousel owl-theme default-carousel  default-carousel-nav">
        <div>
            <a asp-action="Details" asp-route-id="@Model.Id">
                <img src="@Model.ImageUrl" alt="" class="w-100">
            </a>
        </div>

    </div>
    <div class="row mb-4 my-lg-5">
        <div class="col-12 col-md-8">
            <h2 class="mb-3"><a asp-action="Details" asp-route-id="@Model.Id" class="fables-main-text-color fables-second-hover-color font-26 semi-font">@Model.Title</a></h2>

            <p class="fables-fifth-text-color font-14">
               @Model.Description
            </p>

        </div>
        <div class="col-12 col-md-4 col-lg-3 offset-lg-1 mt-md-5 mt-lg-0">
            <div class="my-2">
                <span class="fables-main-text-color font-15 semi-font">Collection </span>
                <span class="fables-forth-text-color fifth"> : @Model.Collection.Title </span>
            </div>
            <div class="my-2">
                <span class="fables-main-text-color font-15 semi-font">Media Type </span>
                <span class="fables-forth-text-color fifth"> : @Model.MediaType </span>
            </div>
         
            <a asp-action="Index" class="mt-4 btn fables-second-background-color white-color fables-main-hover-background-color font-15 white-color-hover px-5 py-2">More Media</a>
        </div>

    </div>
   

</div>
<!-- /End page content -->