@model DSC.Models.DTOs.MediaDto

<style>
    .table-wrap {
        margin-bottom: 600px; /* Add space between the table and footer */
    }

    .table-actions {
        text-align: right; /* Align the action buttons to the right */
    }
</style>
<!-- Add this code inside your section -->


<div class="modal fade mt-5" id="addMediaModal" tabindex="-1" role="dialog" aria-labelledby="addMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMediaModalLabel">Add New Media</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <input type="hidden" id="url" value="" asp-for="Url" />
                    <input type="hidden" id="publicId" value="" asp-for="PublicId" />
                    <div class="form-group">
                        <label asp-for="Title">Media Tittle:</label>
                        <input asp-for="Title" type="text" required class="form-control" id="mediaTittle" name="Title" placeholder="Enter Media Title">
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" required class="form-control" id="mediaName" name="Description" placeholder="Enter Media Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="CollectionId">Collection:</label>
                        <select asp-for="CollectionId" id="CollectionId" class="form-control">
                            @foreach (var item in Model.Collections)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MediaType">Media Type:</label>
                        <select asp-for="MediaType" id="addMediaType" class="form-control">
                            <option value="1">Image</option>
                            <option value="2">Video</option>
                        </select>
                    </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <label>File :</label>

                            </div>
                            <div class="col-8">
                            <input type="file" onchange="enableButton('uploadButton')" required class="form-control" id="uploadedMedia" placeholder="Enter Media File">

                            </div>
                            <div class="col-4">
                                <button class="form-control btn " id="uploadButton" disabled
                                    onclick="uploadImage();this.disabled=true; this.innerHTML='Uploading…';">
                                    upload
                                </button>
                            </div>
                        </div>
                       
                  
                    <div id="displayMedia">
                    </div>
                  
@*                     <div class="form-group">
                        <label asp-for="CategoryId">Category:</label>
                        <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))">
                            <option value="4">Select a category</option>
                        </select>
                    </div> *@
               
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="AddMediaButton" disabled />
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade mt-5" id="EditMediaModal" tabindex="-1" role="dialog" aria-labelledby="EditMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditMediaModal">Edit Media</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post" >
                <input type="hidden" id="urlEdit" value="" asp-for="Url" />
                <input type="hidden" id="publicIdEdit" value="" asp-for="PublicId" />
                <input asp-for="Id" id="editId" value="" hidden />
                <div class="form-group">
                        <label asp-for="Title">Tittle:</label>
                        <input asp-for="Title" required type="text" class="form-control" id="mediaName" name="Title" placeholder="Enter Tittle name">
                </div>
         
                <div class="form-group">
                    <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" required class="form-control" id="mediaDescription" name="Description" placeholder="Enter media Description"></textarea>
                </div>
                    <div class="form-group">
                        <label asp-for="CollectionId">Collection:</label>
                        <select asp-for="CollectionId" id="CollectionId" class="form-control">
                            @foreach (var item in Model.Collections)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MediaType">Media Type:</label>
                        <select asp-for="MediaType" id="editMediaType" class="form-control">
                            <option value="1">Image</option>
                            <option value="2">Video</option>
                        </select>
                    </div>
                                     
                   
                    <div class="form-group row">
                        <div class="col-12">
                            <label>File :</label>

                        </div>
                        <div class="col-8">
                            <input type="file" onchange="enableButton('editUploadButton')" required class="form-control" id="editUploadedMedia" placeholder="Enter Media File">

                        </div>
                        <div class="col-4">
                            <button class="form-control btn " id="editUploadButton" disabled
                                    onclick="EditImage();this.disabled=true; this.innerHTML='Uploading…';">
                                upload
                            </button>
                        </div>
                    </div>


                    <div id="editDisplayMedia">
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="EditMediaButton" disabled />
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mt-5" id="DeleteMediaModal" tabindex="-1" role="dialog" aria-labelledby="DeleteMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteMediaModalLabel">Delete Media</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete">
                    <input asp-for="Id" id="deleteId" hidden />
                    
                    <div class="form-group">
                        <p>Are you Sure you want to Delete This media?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="DeleteMediaButton" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<section class="ftco-section mt-4">
    <div class="container" style="padding-top:10px;">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Media</h2>
                <a class="btn btn-warning mt-3 p-3 text-white" data-toggle="modal" data-target="#addMediaModal">Create New Media</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-wrap">
                    <table class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th class="table-actions ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int count = 1;
                            }
                            @foreach (var Media in Model.Medias)
                            {
                               
                                <tr>
                                    <td>@count</td>
                                   
                                   
                                    <td>@Media.Title</td>
                                    <td>@Media.MediaType.ToString()</td>

                                    <td class="table-actions">
                                        <div class="row  justify-content-end">
                                            <a class="btn btn-primary text-white col-lg-2 col-8 m-1 " data-toggle="modal" onclick="setIdEdit(@Media.Id)" data-target="#EditMediaModal">Edit</a>
                                            <a class="btn btn-danger text-white col-lg-2 col-8 m-1" data-toggle="modal" onclick="setIdDelete(@Media.Id)" data-target="#DeleteMediaModal">Delete</a>
                                            <a class="btn btn-warning text-white col-lg-2 col-8 m-1" asp-action="Details" asp-route-MediaId="@Media.Id">Details</a>
                                        </div>
                                        
                                       
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function enableButton(id) {
        const button = document.getElementById(id)
        button.classList.add( "btn-success");
        button.classList.remove("btn-danger");
        button.disabled = false
        button.innerHTML = "Upload";
    }
    function setIdEdit(id) {
        document.getElementById("editId").value = id;

    }
    function setIdDelete(id) {
        document.getElementById("deleteId").value = id;
    }





    function uploadImage() {
        const url = "https://api.cloudinary.com/v1_1/del4xfgjr/auto/upload/";
        const finishButton = document.getElementById("uploadButton");
        const files = document.getElementById("uploadedMedia").files;
        const formData = new FormData();

        let file = files[0];
        formData.append("file", file);
        formData.append("upload_preset", "odrfogc6");
        formData.append("folder", "da-net7");

        fetch(url, {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    finishButton.innerHTML = "Failed";
                    finishButton.classList.replace("btn-success","btn-danger")
                    return;
                }
                return response.text();
            })
            .then((data) => {
                finishButton.innerHTML = "Done";
                const json = JSON.parse(data);
                const mediaType = document.getElementById("addMediaType");
                const media = document.getElementById("displayMedia");

     
                document.getElementById("url").value = json.url
                document.getElementById("publicId").value = json.public_id
                document.getElementById("AddMediaButton").disabled = false;

                if (json.resource_type == "image") {
                    mediaType.value = "1";

                        media.innerHTML = `<img class="form-control" height="350px" src="${json.url}" alt=""/> `;
                } else {
                    mediaType.value = "2";

                    media.innerHTML = `<video class="form-control" controls><source src="${json.url}" type="video/mp4">Your browser does not support the video tag.</video>`;
                }
            });
    } 







    function EditImage(){
        const url = "https://api.cloudinary.com/v1_1/del4xfgjr/auto/upload/";
        const finishButton = document.getElementById("editUploadButton");

        const files = document.getElementById("editUploadedMedia").files;
        let file = files[0];
        const formData = new FormData();
        formData.append("file", file);
        formData.append("upload_preset", "odrfogc6");
        formData.append("folder", "da-net7");

        fetch(url, {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    finishButton.innerHTML = "Failed";
                    finishButton.classList.replace("btn-success", "btn-danger")
                    return;
                }
                return response.text();
            })
            .then((data) => {
                finishButton.innerHTML = "Done";

                const json = JSON.parse(data);
                const media = document.getElementById("editDisplayMedia");
                const mediaType = document.getElementById("editMediaType");
                document.getElementById("urlEdit").value = json.url
                document.getElementById("publicIdEdit").value = json.public_id
                     
                document.getElementById("EditMediaButton").disabled = false;
                if (json.resource_type == "image") {
                    mediaType.value = "1";

                    media.innerHTML = `<img class="form-control" height="350px" src="${json.url}" alt=""/> `;
                } else {
                    mediaType.value = "2";

                    media.innerHTML = `<video class="form-control" controls><source src="${json.url}" type="video/mp4">Your browser does not support the video tag.</video>`;
                }
            });
    }
</script>
