@model DSC.Models.DTOs.VolunteerDto

<style>
    .table-wrap {
        margin-bottom: 600px; /* Add space between the table and footer */
    }

    .table-actions {
        text-align: right; /* Align the action buttons to the right */
    }
</style>
<!-- Add this code inside your section -->


<div class="modal fade mt-5" id="addVolunteerModal" tabindex="-1" role="dialog" aria-labelledby="addVolunteerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVolunteerModalLabel">Add New Volunteer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Volunteer Name:</label>
                        <input asp-for="Name" type="text" required class="form-control" id="VolunteerName" name="Name" placeholder="Enter Volunteer name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Volunteer Email:</label>
                        <input asp-for="Email" type="email" required class="form-control" id="VolunteerEmail" name="Email" placeholder="Enter Volunteer Email">
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Volunteer PhoneNumber:</label>
                        <input asp-for="PhoneNumber" required class="form-control" id="VolunteerPhoneNumber" name="PhoneNumber" placeholder="Enter Volunteer PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label asp-for="ImgUrl">ImgUrl:</label>
                        <input asp-for="ImgUrl" type="text" required class="form-control" id="VolunteerName" name="ImgUrl" placeholder="Enter Volunteer imgUrl">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" required class="form-control" id="VolunteerName" name="Description" placeholder="Enter Volunteer Description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="addVolunteerButton" />
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade mt-5" id="EditVolunteerModal" tabindex="-1" role="dialog" aria-labelledby="EditVolunteerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditVolunteerModalLabel">Edit Volunteer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <input asp-for="Id" id="editId" value="" hidden />
                    <div class="form-group">
                        <label asp-for="Name">Volunteer Name:</label>
                        <input asp-for="Name" required type="text" class="form-control" id="VolunteerName" name="Name" placeholder="Enter Volunteer name">
                    </div>
                    <div class="form-group">
                        <label asp-for="ImgUrl">ImgUrl:</label>
                        <input asp-for="ImgUrl" required class="form-control" id="VolunteerImgUrl" name="ImgUrl" placeholder="Enter Volunteer ImgUrl" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description:</label>
                        <textarea asp-for="Description" required class="form-control" id="VolunteerDescription" name="Description" placeholder="Enter Volunteer Description"></textarea>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="editVolunteerButton" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade mt-5" id="DeleteVolunteerModal" tabindex="-1" role="dialog" aria-labelledby="DeleteVolunteerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteVolunteerModalLabel">Delete Volunteer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete">
                    <input asp-for="Id" id="deleteId" hidden />
                    <div class="form-group">
                        <p>Are you Sure you want to Delete This Volunteer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="DeleteVolunteerButton" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>






<section class="ftco-section mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Volunteers</h2>
                <a class="btn btn-warning mt-3 p-3 text-white" data-toggle="modal" data-target="#addVolunteerModal">Create New Volunteer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-wrap">
                    <table class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>ImgUrl</th>
                                <th class="table-actions ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var volunteer in Model.Volunteers)
                            {
                                <tr>
                                    <td>@volunteer.Id</td>
                                    <td>@volunteer.Name</td>
                                    <td><img src="@volunteer.ImgUrl" class="rounded-circle border" width="60" height="50" /></td>
                                    <td class="table-actions">
                                        <a class="btn btn-primary text-white" data-toggle="modal" onclick="setIdEdit(@volunteer.Id)" data-target="#EditVolunteerModal">Edit</a>
                                        <a class="btn btn-danger text-white" data-toggle="modal" onclick="setIdDelete(@volunteer.Id)" data-target="#DeleteVolunteerModal">Delete</a>
                                        <a class="btn btn-warning text-white" asp-action="Details" asp-route-id="@volunteer.Id">Details</a>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function setIdEdit(id) {
        document.getElementById("editId").value = id;
    }
    function setIdDelete(id) {
        document.getElementById("deleteId").value = id;
    }
</script>