@model DSC.Models.DTOs.ArticleDto

<!-- Add this code inside your section -->


<div class="modal fade" id="addArticleModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addArticleModalLabel">Add New Article</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form asp-action="Create">

            <div class="modal-body">
                    <input type="hidden" id="url" value="" asp-for="ImgUrl" />
                    <input type="hidden" id="publicId" value="" asp-for="PublicId" />
                    <div class="form-group">
                        <label class="form-label" asp-for="Tittle">Article Title</label>
                        <input asp-for="Tittle" type="text" required class="form-control" id="articleTittle" name="Tittle" placeholder="Enter article name">
                    </div>                
                    <div class="form-group">
                        <label class="form-label" asp-for="Description">Description</label>
                        <textarea asp-for="Description" required class="form-control" id="articleName" name="Description" placeholder="Enter article Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="ArticleType">Article Type</label>
                        <select asp-for="ArticleType" id="articleType" class="form-control">
                            <option value="1">Article</option>
                            <option value="2">News</option>
                            <option value="3">Ads</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" id="CategoryId" class="form-control">
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <div class="row g-2">
                            <div class="col-8 mb-0">
                                <label for="emailWithTitle" class="form-label">File</label>
                                <input type="file" onchange="enableButton('uploadButton')" required class="form-control" id="uploadedMedia" placeholder="Enter Media File">

                            </div>
                            <div class="col-4 mb-0">
                                <label for="" class="form-label text-white">.</label>

                                <button class="form-control btn " id="uploadButton" disabled
                                        onclick="uploadImage();this.disabled=true; this.innerHTML='Uploading…';">
                                    upload
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="displayMedia">
                    </div>

                 

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit"  class="btn btn-primary" id="AddMediaButton" disabled />
            </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="EditArticleModal" tabindex="-1" role="dialog" aria-labelledby="EditArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditArticleModal">Edit Article</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form asp-action="Edit" method="post">

            <div class="modal-body">
                    <input type="hidden" id="urlEdit" value="" asp-for="ImgUrl" />
                    <input type="hidden" id="publicIdEdit" value="" asp-for="PublicId" />
                <input asp-for="Id" id="editId" value="" hidden />
                <div class="form-group">
                    <label class="form-label"  asp-for="Tittle">Article Title</label>
                        <input asp-for="Tittle" value="" required type="text" class="form-control" id="EarticleName" name="Tittle" placeholder="Enter Tittle name">
                </div>
               
                <div class="form-group">
                    <label class="form-label" asp-for="Description">Description</label>
                    <textarea asp-for="Description" required class="form-control" id="myTextarea" name="Description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ArticleType">Article Type</label>
                        <select asp-for="ArticleType" value="" id="EarticleType" class="form-control">
                            @foreach (var item in Model.ArticleTypes)
                            {
                                <option value="@item">@item</option>

                            }
                       
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" value="" id="ECategoryId" class="form-control">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                </div>
                  
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">File</label>

                        </div>
                        <div class="col-8">
                            <input type="file" onchange="enableButton('editUploadButton')"  class="form-control" id="editUploadedMedia" placeholder="Enter Media File">

                        </div>
                        <div class="col-4">
                            <button class="form-control btn " id="editUploadButton" disabled
                                    onclick="EditImage();this.disabled=true; this.innerHTML='Uploading…';">
                                upload
                            </button>
                        </div>
                    </div>


                    <div id="editDisplayMedia">
                    </div>
               
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="EditMediaButton"  />
            </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="DeleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="DeleteArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteArticleModalLabel">Delete Article</h5>
               
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form asp-action="Delete">

            <div class="modal-body">
                    <input asp-for="Id" id="deleteId" hidden />
                    <div class="form-group">
                        <p>Are you Sure you want to Delete This article?</p>
                    </div>
                  
            </div>
              <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="DeleteArticleButton" />
                    </div>
                </form>

        </div>
    </div>
</div>




<section class="ftco-section mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Articles</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Articles</h5>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addArticleModal">Create New Article</button>
                    </div>
                   
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <caption class="ms-4">
                                List of Articles
                            </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Created At</th>
                                <th class="table-actions ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var article in Model.Articles)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@article.Tittle</td>
                                    <td>@article.CDate</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" data-bs-toggle="modal" onclick="setIdEdit(@article.Id, '@article.Tittle', '@article.Description', '@article.ArticleType',@article.CategoryId, '@article.ImgUrl','@article.PublicId')" data-bs-target="#EditArticleModal"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                    <a class="dropdown-item" data-bs-toggle="modal" onclick="setIdDelete(@article.Id)" data-bs-target="#DeleteArticleModal"><i class="bx bx-trash me-1"></i> Delete</a>
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@article.Id"><i class="bx bx-info-circle me-1"></i> Details</a>

                                                </div>
                                            </div>
                                        </td>
                                   
                                </tr>
                                count++;

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<script>
    function enableButton(id) {
        const button = document.getElementById(id)
        button.classList.add("btn-success");
        button.classList.remove("btn-danger");
        button.disabled = false
        button.innerHTML = "Upload";
    }
    function setIdEdit(id, name, description, type, categoryid, imageURL, imageId) {
        console.log('type');
        console.log(type);
        console.log("categoryid");
        console.log(categoryid);
        console.log("imageURL");
        console.log(imageURL);
        console.log("imageId");
        console.log(imageId);
        console.log("id");
        console.log(id);
        console.log("name");
        console.log(name);
       
        document.getElementById("editId").value = id;
        document.getElementById("EarticleName").value = name;
        document.getElementById("ECategoryId").value = categoryid;
        document.getElementById("urlEdit").value = imageURL;
        document.getElementById("publicIdEdit").value = imageId;
        document.getElementById("editDisplayMedia").innerHTML = `<img class="form-control" height="350px" src="${imageURL}" alt=""/> `;
        document.getElementById("myTextarea").value =  description;

        document.getElementById("EarticleType").value = type;

    }
    function setIdDelete(id) {
        document.getElementById("deleteId").value = id;
    }





    function uploadImage() {
        const url = "https://api.cloudinary.com/v1_1/del4xfgjr/image/upload/";
        const finishButton = document.getElementById("uploadButton");
        const files = document.getElementById("uploadedMedia").files;
        const formData = new FormData();

        let file = files[0];
        formData.append("file", file);
        formData.append("upload_preset", "odrfogc6");
        formData.append("folder", "da-net7");

        fetch(url, {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    finishButton.innerHTML = "Failed";
                    finishButton.classList.replace("btn-success", "btn-danger")
                    return;
                }
                return response.text();
            })
            .then((data) => {
                finishButton.innerHTML = "Done";
                const json = JSON.parse(data);
                const media = document.getElementById("displayMedia");


                document.getElementById("url").value = json.url
                document.getElementById("publicId").value = json.public_id
                document.getElementById("AddMediaButton").disabled = false;

              

                    media.innerHTML = `<img class="form-control" height="350px" src="${json.url}" alt=""/> `;
               
            });
    }







    function EditImage() {
        const url = "https://api.cloudinary.com/v1_1/del4xfgjr/image/upload/";
        const finishButton = document.getElementById("editUploadButton");

        const files = document.getElementById("editUploadedMedia").files;
        let file = files[0];
        const formData = new FormData();
        formData.append("file", file);
        formData.append("upload_preset", "odrfogc6");
        formData.append("folder", "da-net7");

        fetch(url, {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    finishButton.innerHTML = "Failed";
                    finishButton.classList.replace("btn-success", "btn-danger")
                    return;
                }
                return response.text();
            })
            .then((data) => {
                finishButton.innerHTML = "Done";

                const json = JSON.parse(data);
                const media = document.getElementById("editDisplayMedia");
                document.getElementById("urlEdit").value = json.url
                document.getElementById("publicIdEdit").value = json.public_id

                document.getElementById("EditMediaButton").disabled = false;
             

                media.innerHTML = `<img class="form-control" height="350px" src="${json.url}" alt=""/> `;
             
            });
    }
</script>