@{
    Layout = "_LayoutUser";
}

@model DSC.Models.DTOs.FamilyDto

@{
    int count = 1;
}
<style>
    .table-wrap {
        margin-bottom: 600px; /* Add space between the table and footer */
    }

    .table-actions {
        text-align: right; /* Align the action buttons to the right */
    }
</style>

<div class="modal fade mt-5" id="DeleteFamilyModal" tabindex="-1" role="dialog" aria-labelledby="DeleteFamilyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteFamilyModalLabel">Delete Family</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete">
                    <input asp-for="Id" id="deleteId" hidden />
                    <div class="form-group">
                        <p>Are you Sure you want to Delete This Family Member?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="DeleteFamilyButton" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Add this code inside your section -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Family</h2>
                <a class="btn btn-warning mt-3 p-3 text-white" asp-action="Create">Create New Family Member</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-wrap">
                    <table class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Relation</th>
                                <th class="table-actions ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var family in Model.Families)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@family.Name</td>
                                    <td>@family.Status</td>
                                    <td>@family.Relation</td>
                                    <td class="table-actions">
                                        <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@family.Id">Edit</a>
                                        <a class="btn btn-danger text-white" data-toggle="modal" onclick="setIdDelete(@family.Id)" data-target="#DeleteFamilyModal">Delete</a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function setIdDelete(id) {
        document.getElementById("deleteId").value = id;
    }

</script>