@model DSC.Models.DTOs.CourseInfoDto

<style>
    .table-wrap {
        margin-bottom: 600px; /* Add space between the table and footer */
    }

    .table-actions {
        text-align: right; /* Align the action buttons to the right */
    }
</style>
<!-- Add this code inside your section -->
<div class="modal fade mt-5" id="addCourseinfoModal" tabindex="-1" role="dialog" aria-labelledby="addCourseinfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addArticleModalLabel">Add New Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">                   
                    <div class="form-group">
                        <label asp-for="InstructorName">Instructor Name:</label>
                        <input asp-for="InstructorName" type="text" required class="form-control" id="instructorName" name="instructorName" placeholder="Enter instructor name">
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate">Start Date:</label>
                        <input asp-for="StartDate" type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="" value="" required class="form-control" id="courseInfoName" name="StartDate" placeholder="Enter Start Date">
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate">End Date:</label>
                        <input asp-for="EndDate" type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="" value="" required class="form-control" id="courseInfoName" name="EndDate" placeholder="Enter End Date">
                    </div>
                    <div class="form-group">
                        <label asp-for="DeadLine">DeadLine Date:</label>
                        <input asp-for="DeadLine" type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="" value="" required class="form-control" id="courseInfoName" name="DeadLine" placeholder="Enter DeadLine Date">
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseId">Course:</label>
                        <select asp-for="CourseId" id="CategoryId" class="form-control">
                            @foreach (var item in Model.Courses)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="addFounderButton" />
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade mt-5" id="EditCourseInfoModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditCourseModal">Edit Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <input asp-for="Id" id="editId" value="" hidden />
                    <div class="form-group">
                        <label asp-for="InstructorName">Instructor Name:</label>
                        <input asp-for="InstructorName" type="text" required class="form-control" id="instructorName" name="instructorName" placeholder="Enter instructor name">
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate">Start Date:</label>
                        <input asp-for="StartDate" type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="" value="" required class="form-control" id="courseInfoName" name="StartDate" placeholder="Enter Start Date">
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate">End Date:</label>
                        <input asp-for="EndDate" type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="" value="" required class="form-control" id="courseInfoName" name="EndDate" placeholder="Enter End Date">
                    </div>
                    <div class="form-group">
                        <label asp-for="DeadLine">DeadLine Date:</label>
                        <input asp-for="DeadLine" type="date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="" value="" required class="form-control" id="courseInfoName" name="DeadLine" placeholder="Enter DeadLine Date">
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseId">Course:</label>
                        <select asp-for="CourseId" id="CategoryId" class="form-control">
                            @foreach (var item in Model.Courses)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="addFounderButton" />
                    </div>

                  
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mt-5" id="DeleteCourseInfoModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCourseInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteCourseModalLabel">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete">
                    <input asp-for="Id" id="deleteId" hidden />
                    <div class="form-group">
                        <p>Are you Sure you want to Delete This Course?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="DeleteCourseButton" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<section class="ftco-section mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Courses Info</h2>
                <a class="btn btn-warning mt-3 p-3 text-white" data-toggle="modal" data-target="#addCourseinfoModal">Create New Course Info</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-wrap">
                    <table class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th>ID</th>
                                <th>Instructor Name</th>
                                <th>Creatio Date</th>
                                <th class="table-actions ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var CourseInfo in Model.CoursesInfo)
                            {
                                <tr>
                                    <td>@CourseInfo.Id</td>
                                    <td>@CourseInfo.InstructorName</td>
                                    <td>@CourseInfo.Date</td>
                                    <td class="table-actions">
                                        <a class="btn btn-primary text-white" data-toggle="modal" onclick="setIdEdit(@CourseInfo.Id)" data-target="#EditCourseInfoModal">Edit</a>
                                        <a class="btn btn-danger text-white" data-toggle="modal" onclick="setIdDelete(@CourseInfo.Id)" data-target="#DeleteCourseInfoModal">Delete</a>
                                        <a class="btn btn-warning text-white" asp-action="Details" asp-route-CourseInfoId="@CourseInfo.Id">Details</a>
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function setIdEdit(id) {
        document.getElementById("editId").value = id;
    }
    function setIdDelete(id) {
        document.getElementById("deleteId").value = id;
    }

</script>