@{
    Layout = "_LayoutUser";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model DSC.Models.DTOs.ServiceDto;

<style>
    .disabled-btn {
        pointer-events: none;
        opacity: 0.5; /* You can adjust the opacity to make it visually appear disabled */
        cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
        color: #808080; /* Change text color to a muted gray to indicate it's disabled */
        /* Add any other styling as needed */
    }
</style>
<div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Service</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="UserIndex">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Service" asp-action="HomeService">Services</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Service Details</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Services</h3>
                        <ul class="nav service-menu">
                            @foreach(var service in Model.Services)
                            {
                                <li><a asp-controller="Service" asp-action="UserDetails" asp-route-id="@service.Id">@service.Name</a></li>
                            }

                        </ul>
                    </div><!-- Widget end -->

                    <div class="widget">
                        <div class="quote-item quote-border">
                            <div class="quote-text-border">
                                “I choose not to place ‘DIS’, in my ability.” 
                            </div>

                            <div class="quote-item-footer">
                                <img loading="lazy" class="testimonial-thumb" src="https://live.staticflickr.com/2615/3703565641_436d1bdc14_m.jpg" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Robert M. Hensel</h3>
                                    <span class="quote-subtext">Advocate for the disabled</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->

                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-xl-8 col-lg-8">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">@Model.Name</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                @Model.Description
                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div id="page-slider" class="page-slider">
                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="@Model.ImgUrl" alt="project-slider-image" />
                        </div>

                        <div class="item">
                            <img loading="lazy" class="img-fluid" src="@Model.ImgUrl" alt="project-slider-image" />
                        </div>
                    </div><!-- Page slider end -->

                    <div class="gap-40"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="column-title-small">What Makes Us Different</h3>

                            <p>
                                Our company offers a comprehensive suite of services that address various aspects of disability, such as physical,
                                emotional, and social well-being, it can set you apart. Providing a one-stop solution for diverse needs can
                                be a unique selling proposition.
                            </p>
                            <ul class="list-arrow">
                                <li>Personalized Services.</li>
                                <li>Inclusive Technology.</li>
                                <li>Community Engagement.</li>
                                <li>Expertise and Training.</li>
                                <li>Transparent and Ethical Practices.</li>
                                <li>Cost-Free Services.</li>
                            </ul>
                        </div>

                        <div class="col-md-6 mt-5 mt-md-0">
                            <h3 class="column-title-small">You Should Know</h3>

                            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Know Your Rights
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#construction-accordion">
                                        <div class="card-body">
                                            Familiarize yourself with the laws and regulations that protect the rights of individuals with disabilities,
                                            such as the Americans with Disabilities Act (ADA) in the United States or similar legislation in other countries.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Accessible Resources
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#construction-accordion">
                                        <div class="card-body">
                                            Be aware of accessible resources, including websites, apps, and technologies designed to assist individuals
                                            with disabilities. Many tools exist to enhance communication, navigation, and daily activities.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Educational Opportunities
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#construction-accordion">
                                        <div class="card-body">
                                            Explore educational opportunities and resources tailored to individuals with disabilities.
                                            Many institutions and organizations offer support and accommodations for learners with diverse needs.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Accordion end -->
                        </div>
                    </div>
                    <!--2nd row end -->

                    <div class="gap-40"></div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="general-btn text-center">
                            <a class="btn btn-primary" asp-controller="Service" asp-action="Enroll">Enroll</a>
                        </div>
                    }
                    else
                    {
                        <div class="general-btn text-center disabled-btn">
                            <h3>You Must Login first</h3>
                            <a class="btn btn-primary" asp-controller="Service" asp-action="Enroll">Enroll</a>
                        </div>
                    }

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->