@model DSC.Models.DTOs.StudentDto

<div class="container-fluid pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" asp-action="Create" method="post">
                            <h1 class="form-group">Student Register</h1>
                            <div class="form-group row">
                                <label asp-for="User.Name" class="col-lg-4 col-form-label" for="val-username">
                                    Name <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="User.Name" class="form-control" id="val-username" name="Name" placeholder="Enter your Name..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="SSN" class="col-lg-4 col-form-label" for="val-username">
                                    SSN <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="SSN" class="form-control" id="val-username" name="SSN" placeholder="Enter a SSN..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="SsnImageUrl" class="col-lg-4 col-form-label" for="val-SsnImageUrl">
                                    SsnImageUrl <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="SsnImageUrl" class="form-control" id="val-SsnImageUrl" name="SsnImageUrl" placeholder="Enter a SsnImageUrl..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DisabilityType" class="col-lg-4 col-form-label" for="val-DisabilityType">
                                    DisabilityType: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input asp-for="DisabilityType" type="text" class="form-control" id="val-email" name="DisabilityType" placeholder="Your DisabilityType..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Gender" class="col-lg-4 col-form-label" for="val-Gender">
                                    Gender: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="Gender" id="Gender" class="form-control" placeholder="">
                                        <option disabled selected> -- Select Gender -- </option>
                                        @foreach (var gender in Model.Genders)
                                        {
                                            <option value="@gender">@gender.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
@*                             <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-suggestions">
                                    Suggestions <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="5" placeholder="What would you like to see?"></textarea>
                                </div>
                            </div> *@
                            <div class="form-group row">
                                <label asp-for="Language" class="col-lg-4 col-form-label">
                                    Language: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="Language" id="Language" class="form-control" placeholder="">
                                        <option disabled selected> -- Select Language -- </option>
                                        @foreach (var language in Model.Languages)
                                        {
                                            <option value="@language">@language.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="StudyType" class="col-lg-4 col-form-label">
                                    StudyType: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="StudyType" id="StudyType" class="form-control" placeholder="">
                                        <option disabled selected> -- Select StudyType -- </option>
                                        @foreach (var studyType in Model.StudyTypes)
                                        {
                                            <option value="@studyType">@studyType.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Department" class="col-lg-4 col-form-label" >
                                    Department <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="Department" class="form-control" id="val-department" name="Department" placeholder="Enter your department..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Religion" class="col-lg-4 col-form-label">
                                    Religion: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="Religion" id="Religion" class="form-control" placeholder="">
                                        <option disabled selected> -- Select Religion -- </option>
                                        @foreach (var religion in Model.Religions)
                                        {
                                            <option value="@religion">@religion.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ImageUrl" class="col-lg-4 col-form-label" for="val-website">
                                    ImageUrl <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input asp-for="ImageUrl" type="text" class="form-control" id="val-website" name="ImageUrl" placeholder="Enter your imageUrl...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" asp-for="Address">
                                    Address<span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input asp-for="Address" type="text" class="form-control" id="Address" name="Address" placeholder="Enter your Address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="CollageYear" class="col-lg-4 col-form-label">
                                    CollageYear: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <select asp-for="CollageYear" id="CollageYear" class="form-control" placeholder="">
                                        <option disabled selected> -- Select CollageYear -- </option>
                                        @foreach (var collageYear in Model.CollageYears)
                                        {
                                            <option value="@collageYear">@collageYear.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="BithDate" class="col-lg-4 col-form-label">
                                    Birth Date: <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <div class="input-icon">
                                        <span class="fables-icondata fables-input-icon font-19 mt-1"></span>
                                        <input required type="date" asp-for="BithDate" min="1990-01-01" max="@DateTime.UtcNow.ToString("yyyy-MM-dd")" value="" aria-describedby="dateGuide" aria-labelledby="dateLabel" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Birth Date">
                                        <span asp-validation-for="BithDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="User.PhoneNumber" class="col-lg-4 col-form-label" for="val-number">
                                    Phone Number <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input asp-for="User.PhoneNumber" type="text" class="form-control" id="val-number" name="PhoneNumber" placeholder="Enter your phonenumber...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="User.Mobile" class="col-lg-4 col-form-label" for="val-range">
                                    Mobile <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input asp-for="User.Mobile" type="text" class="form-control" id="val-range" name="Mobile" placeholder="Enter your Mobile...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->

<!--**********************************
    Content body end
***********************************-->
